<div class="navbar">
  <div class="navbar-wrapper">

    <a class="logo" href="/">
      <img src="/assets/img/logo.png" alt="{{ site.title }} Logo" class="logo__img" />
    </a>

    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="/" class="navigation__link">Inicio</a>
        </li>
        <li class="navigation__item">
          <a href="/galeria/" class="navigation__link">Galería</a>
        </li>
        <li class="navigation__item">
          <a href="/contacto/" class="navigation__link">Contacto</a>
        </li>
      </ul>
    </nav>

    <div class="navigation__button">
      <i class="fa  fa-bars"></i>
    </div>

    <div class="navigation__background"></div>

  </div>
</div>
