---
layout: default
---

<div class="gallery">
  {% for gallery in page.galleries %}
    <a href="{{ gallery['gallery'] }}" class="card  gallery__item" style="background-image: url({{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }});">
      <h4 class="gallery__title">{{ gallery['name'] }}</h4>
    </a>
  {% endfor %}
</div>

<div class="mixitup-pagination"></div>

<script src="/assets/js/mixitup.min.js"></script>
<script src="/assets/js/mixitup-pagination.min.js"></script>
<script src="/assets/js/gallery_index.js"></script>
